<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myvx_v2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BywConsumeServlet</display-name>
    <servlet-name>BywConsumeServlet</servlet-name>
    <servlet-class>web.BywConsumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BywConsumeServlet</servlet-name>
    <url-pattern>/bywConsume</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BywszjcServlet</display-name>
    <servlet-name>BywszjcServlet</servlet-name>
    <servlet-class>web.BywszjcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BywszjcServlet</servlet-name>
    <url-pattern>/bywszjc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BywsltjServlet</display-name>
    <servlet-name>BywsltjServlet</servlet-name>
    <servlet-class>web.BywsltjServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BywsltjServlet</servlet-name>
    <url-pattern>/bywsltj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BywszsjServlet</display-name>
    <servlet-name>BywszsjServlet</servlet-name>
    <servlet-class>service.BywszsjServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BywszsjServlet</servlet-name>
    <url-pattern>/bywszsj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BywscsjServlet</display-name>
    <servlet-name>BywscsjServlet</servlet-name>
    <servlet-class>web.BywscsjServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BywscsjServlet</servlet-name>
    <url-pattern>/bywscsj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDateStrServlet</display-name>
    <servlet-name>GetDateStrServlet</servlet-name>
    <servlet-class>web.GetDateStrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDateStrServlet</servlet-name>
    <url-pattern>/getDateStr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CorpogslServlet</display-name>
    <servlet-name>CorpogslServlet</servlet-name>
    <servlet-class>web.CorpogslServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorpogslServlet</servlet-name>
    <url-pattern>/corpogsl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CorpoyslServlet</display-name>
    <servlet-name>CorpoyslServlet</servlet-name>
    <servlet-class>web.CorpoyslServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorpoyslServlet</servlet-name>
    <url-pattern>/corpoysl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CorpoyejianServlet</display-name>
    <servlet-name>CorpoyejianServlet</servlet-name>
    <servlet-class>web.CorpoyejianServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorpoyejianServlet</servlet-name>
    <url-pattern>/corpoyejian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Echars_YejianServlet</display-name>
    <servlet-name>Echars_YejianServlet</servlet-name>
    <servlet-class>web.Echars_YejianServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Echars_YejianServlet</servlet-name>
    <url-pattern>/echars_Yejian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Echarts_GongshuiServlet</display-name>
    <servlet-name>Echarts_GongshuiServlet</servlet-name>
    <servlet-class>web.Echarts_GongshuiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Echarts_GongshuiServlet</servlet-name>
    <url-pattern>/echarts_Gongshui</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CorpohlhtServlet</display-name>
    <servlet-name>CorpohlhtServlet</servlet-name>
    <servlet-class>web.CorpohlhtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorpohlhtServlet</servlet-name>
    <url-pattern>/corpohlht</url-pattern>
  </servlet-mapping>
</web-app>